<h3> Discover Movies </h3>

<%= button_to "Find Top Rated Movies", movies_path, params: {q: "top_20_rated"}, method: :get %>

<br>

<%= form_with url: movies_path, method: :get, data: {turbo: false} do |f| %>
  <%= f.hidden_field :q, value: "keyword" %>
  <%= f.text_field :search %>
  <%= f.submit "Find Movies" %>
<% end %>